@use "abstracts";
@use "base";
@use "layout/main";
@use "../../utility/output/card.scss";
@use "../../utility/output/global.scss";

body {
  background: global.$colors-canvas;
  font-family: global.$font-families-barlow-semi-condensed;
  font-size: global.$font-size-0;
  display: grid;
}

footer {
  justify-self: center;
}

main {
  display: grid;
  max-width: 1109px;
  padding: global.$spacing-2xl;

  align-content: center;
  justify-self: center;

  grid-template-areas:
    "c1 c1 c2 c3"
    "c4 c5 c5 c3";
  grid-template-columns: repeat(4, 1fr);
  gap: global.$spacing-lg;

  @include abstracts.mq(large) {
    grid-template-areas:
      "c1 c1 c2 c2"
      "c3 c3 c4 c4"
      "c3 c3 c5 c5";
  }
  @include abstracts.mq(small) {
    padding: global.$spacing-lg;
    grid-template-columns: repeat(1, auto);
    grid-template-areas:
      "c1"
      "c2"
      "c3"
      "c4"
      "c5";
  }
}

.stroke-1,
.stroke-2 {
  border: card.$border-width-default solid card.$stroke-2;
}

.stroke-2 {
  border-color: card.$stroke-2;
}

.c1 {
  grid-area: c1;
}

.c2 {
  grid-area: c2;
}

.c3 {
  grid-area: c3;
}

.c4 {
  grid-area: c4;
}

.c5 {
  grid-area: c5;
}

.card {
  background: card.$bg-default;
  border-radius: card.$border-radius-default;
  padding: card.$spacing-top card.$spacing-right card.$spacing-bottom
    card.$spacing-left;
  color: card.$fg-default;

  &.bg-1 {
    background: card.$bg-1;

    &.quote {
      background-image: url("../../images/bg-pattern-quotation.svg");
      background-repeat: no-repeat;
      background-position-x: calc(80%);
    }
  }
  &.bg-2 {
    background: card.$bg-2;
  }
  &.bg-3 {
    background: card.$bg-3;
  }

  &.onEmphasis {
    color: card.$fg-on-emphasis-default;

    .profile__verified {
      color: card.$fg-on-emphasis-subtle;
    }

    .card__copy {
      color: card.$fg-on-emphasis-muted;
    }
  }

  .profile {
    display: flex;
    margin-bottom: global.$spacing-sm;
    gap: global.$spacing-sm;
    align-items: center;
  }

  .profile__image {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    flex-shrink: 0;
    flex-grow: 0;
    box-sizing: content-box;
  }

  .profile__name {
    font-family: card.$name-font-family;
    font-weight: card.$name-font-weight;
    line-height: card.$name-line-height;
    font-size: card.$name-font-size;
    letter-spacing: card.$name-letter-spacing;
    text-transform: card.$name-text-case;
    text-decoration: card.$name-text-decoration;
  }

  .profile__verified {
    font-family: card.$verified-font-family;
    font-weight: card.$verified-font-weight;
    line-height: card.$verified-line-height;
    font-size: card.$verified-font-size;
    letter-spacing: card.$verified-letter-spacing;
    text-transform: card.$verified-text-case;
    text-decoration: card.$verified-text-decoration;
    color: card.$fg-subtle;
  }

  .card__title {
    font-family: card.$title-font-family;
    font-weight: card.$title-font-weight;
    line-height: card.$title-line-height;
    font-size: card.$title-font-size;
    letter-spacing: card.$title-letter-spacing;
    text-transform: card.$title-text-case;
    text-decoration: card.$title-text-decoration;
    margin-bottom: global.$spacing-md;
  }

  .card__copy {
    font-family: card.$copy-font-family;
    font-weight: card.$copy-font-weight;
    line-height: card.$copy-line-height;
    font-size: card.$copy-font-size;
    letter-spacing: card.$copy-letter-spacing;
    text-transform: card.$copy-text-case;
    text-decoration: card.$copy-text-decoration;
    color: card.$fg-muted;
  }
}
