.global-theme {
          --text-frame-ratio: 2.17;
  --text-frame-frame-y: 0.46;
  --text-frame-frame-x: 0.998;
  --padding-base: 4;
  --padding-3xs: 4;
  --padding-2xs: 8;
  --padding-xs: 12;
  --padding-sm: 16;
  --padding-md: 24;
  --padding-lg: 32;
  --padding-xl: 48;
  --padding-2xl: 64;
  --padding-3xl: 96;
  --border-radius-0: 2px;
  --border-radius-1: 2px;
  --border-radius-2: 4px;
  --border-radius-3: 6px;
  --border-radius-base: 2px;
  --border-radius-ratio: 2px;
  --colors-primary-moderate-violet: #7541C8;
  --colors-primary-very-dark-grayish-blue: #48556A;
  --colors-primary-very-dark-blackish-blue: #19212E;
  --colors-primary-white: #ffffff;
  --colors-neutral-light-gray: #CFCFCF;
  --colors-neutral-light-grayish-blue: #ECF2F8;
  --font-families-barlow-semi-condensed: Barlow Semi Condensed;
  --line-heights-0: NaNpx;
  --line-heights-1: 24px;
  --line-heights-2: 18px;
  --font-weights-medium: Medium;
  --font-weights-semibold: SemiBold;
  --font-weights-barlow-semi-condensed-0: Medium;
  --font-weights-barlow-semi-condensed-1: SemiBold;
  --font-size-0: 11;
  --font-size-1: 13;
  --font-size-2: 21;
  --letter-spacing-0: 0%;
  --letter-spacing-1: -2.2%;
  --letter-spacing-2: -0.2%;
  --letter-spacing-3: -0.5%;
  --paragraph-spacing-0: 0;
  --text-case-none: none;
  --text-decoration-none: none;
      }